.item {
  .card {
    display: flex;
    .cover-img {
      height: 200px;
      // overflow: hidden;
      // position: relative;
      img {
        width: 100%;
        // position: absolute;
        // top: 0;
      }
    }
  }
}