<h1>新增餐點</h1>

<%= render 'form', item: @item %>

<%# render partial: 'form', locals: { item: @item } %>





<%#   t.string :name
      t.text :description
      t.integer :price
      t.string :spec %>